api.dejaticoffee.com {
    root * /var/www/dejati-api/public
    encode gzip
    php_fastcgi unix//run/php/php8.3-fpm.sock
    file_server
    try_files {path} /index.php

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Headers Authorization, Content-Type
        Access-Control-Allow-Methods GET, POST, PUT, PATCH, DELETE, OPTIONS
    }
}
